/* Basic Style */
.wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.top-banner {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.top-banner__img {
  width: 100%;
}

.top-banner__info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .top-banner { 
    text-align: center;
  }

}

.todo-list {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-task__row {
  display: flex;
}

.list {
  margin: 0;
  padding: 0px;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.add-task__label{
  padding: 30px 0 10px;
}

.todo-list__title{
  padding: 30px 0 10px;
  margin: 0;
  list-style: none;
}

.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
}

.text {
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  outline: none;
}

.text:focus {
  color: #333;
}

/* New Task */
.add-task__label {
  display: block;
  margin: 0 0 20px;
}

.add-task__input {
  width: 318px;
  padding: 0 9px;
  margin: 0;
}

.add-task__button:hover {
  color: #0fc57c;
}

/* Task list */
.list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.list__item > * {
  vertical-align: middle;
}

.list__checkbox {
  margin: 0 10px;
  outline: none;
}

.list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list__text {
  width: 226px;
}

.list__button_delete:hover {
  color: #cf2323;
}

.list__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.list__icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks .list__label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list__text {
  display: none;
  padding: 0 9px;
  margin: 0;
}

.edit-mode .list__text {
  display: inline-block;
  width: 224px;
}

.edit-mode .list__label {
  display: none;
}